apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "doca-provisioning.fullname" . }}
  labels:
    {{- include "doca-provisioning.labels" . | nindent 4 }}
rules:
  # Provisioning CRDs
  - apiGroups:
      - provisioning.dpu.nvidia.com
    resources:
      - bfbs
      - dpudevices
      - dpudiscoveries
      - dpuflavors
      - dpunodemaintenances
      - dpunodes
      - dpus
      - dpusets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - provisioning.dpu.nvidia.com
    resources:
      - bfbs/finalizers
      - dpudevices/finalizers
      - dpudiscoveries/finalizers
      - dpuflavors/finalizers
      - dpunodemaintenances/finalizers
      - dpunodes/finalizers
      - dpus/finalizers
      - dpusets/finalizers
    verbs:
      - update
  - apiGroups:
      - provisioning.dpu.nvidia.com
    resources:
      - bfbs/status
      - dpudevices/status
      - dpudiscoveries/status
      - dpuflavors/status
      - dpunodemaintenances/status
      - dpunodes/status
      - dpus/status
      - dpusets/status
    verbs:
      - get
      - patch
      - update
  # Core resources
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
      - serviceaccounts
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - nodes
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  # Certificates
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - certificates.k8s.io
    resources:
      - certificatesigningrequests/approval
    verbs:
      - update
  - apiGroups:
      - certificates.k8s.io
    resources:
      - signers
    resourceNames:
      - kubernetes.io/kube-apiserver-client
    verbs:
      - approve
  # Maintenance operator
  - apiGroups:
      - maintenance.nvidia.com
    resources:
      - nodemaintenances
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  # Metrics and auth
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
