controllerManager:
  manager:
    args:
    - --leader-elect
    # -- Zero indicates feature is disabled (default). Set a non zero value to timeout duration and enable this feature. Kubernetes can cause the pod to restart earlier under connectivity constraints in which case flows are always cleaned up under this mode.
    secureFlowDeletionTimeout: 0s
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: example.com/dpf-system
      tag: v0.1.0
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 512Mi
  replicas: 1
  serviceAccount:
    annotations: {}
imagePullSecrets: []

openvSwitchRunDir: /var/run/openvswitch
openvSwitchBinDir: /usr/bin
openvSwitchSharedLibraryDir: /lib
openvSwitchSharedLibrary64Dir: ""