apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hostagent-role
  namespace: system
rules:
- apiGroups:
  - provisioning.dpu.nvidia.com
  resources:
  - dpunodes
  - dpudevices
  verbs:
  - create
  - delete
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - provisioning.dpu.nvidia.com
  resources:
  - bfbs
  - dpuclusters
  - dpudiscoveries
  - dpus
  - dpusets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - provisioning.dpu.nvidia.com
  resources:
  - dpus/status
  - dpunodes/status
  - dpudevices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - provisioning.dpu.nvidia.com
  resources:
  - dpuflavors
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - operator.dpu.nvidia.com
  resources:
  - dpfoperatorconfigs
  verbs:
  - get
  - list
  - watch
